html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-bottom: 48px;
}

.robot {
  width: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 55px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 138px;
  bottom: 60px;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  bottom: 5px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 5px;
  right: 160px;
}

.robot:hover .robot-head-left {
  transform: translate(-30px, -20px);
}

.robot:hover .robot-head-right {
  transform: translate(30px, -20px);
}

.robot:hover .robot-brain {
  transform: translate(0, -20px);
}
